/* Global */

.main {
  width: 100%;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sep {
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 90%;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.row {
  display: flex;
}

.alignMiddle {
  display: flex; 
  align-items: center;    
}

/* Header */

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 2.5rem;
}

.jobTitle {
  line-height: 0.5;
  font-size: 1.7rem;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerImage {
  width: 8rem;
  height: 8rem;
}

.personal_infos {
  text-align: center;
}

/* Main */

.section {
  line-height: 1.5;
  font-size: 1.4rem;
  text-align: left;
}

.grid {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 1rem;
}

.card {
  padding: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.card h3 {
  margin: 0 0 0.8rem 0;
}

.card_title, .card_subtitle {
  display: flex;
  align-items: center;
}

.card .logo_um {
  filter: drop-shadow(0 0 1px black);
}

.card p {
  margin: 0;
  line-height: 1.7rem;
}

.card ul {
  list-style-type: '⇝';
  padding-inline-start: 1ch;
}

.card li {
  padding-inline: 1ch;
  margin-inline-end: 1ch;
}

.logo {
  height: 1em;
}

.column {
  flex: 50%;
}

.appRow {
  margin-bottom: 20px;
}

.appLink {
  margin-left: 0.5em;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  background: -webkit-linear-gradient(#2FC22F, #000);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appLinkBullet {
  font-size: 0.9rem;
  padding-bottom: 2px;
}

.githubLink {
  font-size: 15px;
  font-family: 'Roboto Slab', serif;
  margin-left: 0.5em;
  word-break: break-word;
}

.githubLink:visited {
  color: lightslategray;
}

.githubLink::before {
  position: absolute;
  content: attr(data-content);
  color: limegreen;
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  transition: clip-path 300ms ease;
}

.githubLink:hover::before {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.borderCircle {
  border-radius: 9999px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.project {
  margin-bottom: 1rem;
}

/* Footer */

.footer {
  width: 100%;
  height: 160px;
  border-top: 1px solid #eaeaea;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-box-shadow: 0 -4px 6px -6px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -4px 6px -6px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -4px 6px -6px rgba(0, 0, 0, 0.5);
}

.footer img {
  margin-right: 0.5rem;
  height: 20px;
}

.footer p {
  margin: 0 0 10px 0;
}

.footer a {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
}

/* Media Queries */ 

@media (max-width: 500px) {
  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 400px) {
  .personal_infos span:last-of-type {
    display: block;
  }
}

@media screen and (max-width: 400px) {
  .personal_infos span:nth-of-type(1) {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .personal_infos span:nth-of-type(2) {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .personal_infos span:nth-of-type(3) {
    display: block;
  }
}
